body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 1s;
}

header {
    background-color: #DDD0C8;
    color: #323232;
    padding: 10px;
    text-align: center;
}

.container {
    max-width: 100%;
    margin: 0 auto; /* Wyśrodkuj kontenery */
}

/* Styl do centrowania tekstu */
.center-text {
    text-align: center;
}

/* Padding do maina */
.container.main {
    padding: 20px;
}

/* Padding dolny do maina */
.container.main {
    padding-bottom: 100px;
}

/* Max szerokosc maina */
.container.main section {
    max-width: 800px;
    margin: 0 auto;
}

/* Stylizacje dla nawigacji */
nav {
    display: flex;
    justify-content: space-around; /* Rozmieszczenie po rowno przyciskow nava */
    background-color: #323232;
    padding: 15px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 100px; /* Zaokraglenie przyciskow nawyigacyjnych */
    background-color: #555; /* Kolor tła */
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: #777; /* Zmiana koloru tła po najechaniu myszką */
}

/* Styl dla footera */
.footer {
    background-color: #DDD0C8;
    color: #323232;
    padding: 15px;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 3px solid #111; /* Dodaj górną ramkę */
    display: flex;
    justify-content: center; /* Rozmieszczenie po rowno rzeczy w footerze */
    text-align: center;
}

/* Styl dla ikon */
.social-icons {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-icons a {
    margin: 0 10px; /* Odstęp między ikonami */
}

/* Styl dla minutnika */
.minutnik {
    text-align: center;
    margin-top: 20px; /* Margines nad dla estetyki */
}

.minutnik input {
    padding: 15px; /* Rozmiar pola do wprowadzania czasu */
    font-size: 18px; /* Rozmiar czcionki */
    border: 2px solid #555; /* Obramowanie pola do wprowadzania czasu */
    border-radius: 5px; /* Zaokrąglony kształt */
    margin-right: 10px; /* Odstęp między polem a przyciskiem */
}

.minutnik button {
    padding: 15px 20px; /* Rozmiar przycisku */
    font-size: 18px; /* Rozmiar czcionki */
    border-radius: 10px; /* Zaokrąglony kształt przycisku */
    background-color: #555; /* Kolor tła przycisku */
    color: #fff; /* Kolor tekstu przycisku */
    transition: background-color 0.3s;
}

.minutnik button:hover {
    background-color: #777; /* Zmiana koloru tła po najechaniu myszką */
}

.minutnik #countdown {
    font-size: 36px; /* Rozmiar czcionki dla wyświetlanego czasu */
    margin-top: 20px; /* Margines */
}

/* Styl dla sekcji kolor */
.kolor {
    text-align: center;
    margin-top: 50px;
}

.kolor button {
    padding: 15px 20px; /* Rozmiar przycisku */
    border-radius: 10px; /* Kształt przycisku */
    background-color: #555; /* Kolor tła przycisku */
    color: #fff; /* Kolor tekstu przycisku */
    transition: background-color 0.3s;
}

.kolor button:hover {
    background-color: #777; /* Zmiana koloru tła po najechaniu myszką */
}
